::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffcc21;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff963c;
}